.services{

    h1{
        text-align: center;
        align-items: center;
        color: black;
        font-size: 80px;
        border-top: 3px solid black ;

    }

    .card{
        display: inline-block;
    }
}