@import "../../app.scss";

// Styling the Home Page
.home {
    height: calc(100vh - 100px);
    overflow: hidden;
    position: relative;

    .textContainer{
        width:  100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        text-align: center;
        
        h1{
            font-size: 68px;
            color: black;
            text-transform: uppercase;
            text-align: center;
        }
        img{
            width: 20%;
            height: 30%;
            object-fit: cover;
            display: block;
            margin-left: auto;
            margin-right: auto;
            
        }
    }
    // .imageContainer {
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     right: 0;

    // }

    .services{
        height: calc(100vh - 100px);
        overflow: hidden;
    
    
        h1{
            
            text-align: center;
            color: black;
            font-size: 80px;
            border-top: 3px solid black ;
    
        }
    
        .Card{
            display: inline-block;
        }
    }

}
