// Styling the Navbar
.navbar{
    margin-top: calc(100vh - 53px);
    width: 100vw;
    height: 53px;

    .wrapper{
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        height: 100%;
    }
    span{
        font-weight: 600;
    }

    .pages{
        width: 100vw;
        height: 53px;
        border: 1px solid black;
        border-bottom: 3px solid #04c2c9;
    }

}