* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
  body {
    background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
    height: 220vh;
    width: 100vw;
  }

  .selector-for-some-widget {
    box-sizing: content-box;
  }

/* Mobile, Tablet, and Desktop Responsive Design  */
// @include media-breakpoint-up(sm) { 
//   .custom-class {
//     display: block;
//   }
// }

// @include media-breakpoint-up(md) { 
//   .custom-class {
//     display: block;
//   }
// }

// @include media-breakpoint-up(lg) {  
//   .custom-class {
//     display: block;
//   } 
// }
